.ppaf-input {
  text-overflow: clip;
  outline: 0;
  letter-spacing: normal;
  text-transform: none;
  background: 0 0;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  
  font-size: 20px;
  line-height: 24px;
}
